.nav-link-cs{
  color: var(--text-principal) !important;
  transition: 0.5s;
}

.nav-link-cs:hover{
  color: #58287F !important;
}

.ghost{
  visibility: collapse;
  height: 0;
}

.ghost-table{
  display: none;
}

.btn-table{
  color: var(--text-principal);
}
